#                                                    NAME : SANJU G P
#                                                     TOPIC: ASSIGNMENT(1)ON PYTHON..

1. Understanding Variables

1.a) Define a variable in Python. Provide an example of how to create a variable that stores your name.
Ans:       
variables are the location or a name, that can able to store a data interms of int, float, string etc                                                          
name="sanjugp" # name is a variable

1.b) What is the difference between a variable and a constant? Can we have constants in Python?                                     
1) variables are the location or a name, that can able to store a data interms of 11int, float, string etc                                                         
2) constant are the fixed value we can not alter that. there is no constant in python.

2) Working with Data types

>

a) create variables of the fallowing types in python

1.Integer

In [34]:
x=75
type(x)

int

2.Float

In [2]:
y=95.5
type(y)

float

3.String

In [3]:
name="sanju"
type(name)

str

4.Boolean

In [5]:
a=25
b=a<5
type(b)

bool

2 b)Write a Python script to display the type of each variable you created.

In [35]:
a=22
print("type of a is",{type(a)}) # integer variable
b=8.5
print("type of b is",{type(b)}) # float variable
c="sam"
print("type of c is",{type(c)}) # string variable
d=[1,2,3]
print("type of d is",{type(d)}) # list variable
e=(1,2,3)
print("type of e is",{type(e)}) # tuple variable
f=True
print("type of f is",{type(f)}) # boolean variable

type of a is {<class 'int'>}
type of b is {<class 'float'>}
type of c is {<class 'str'>}
type of d is {<class 'list'>}
type of e is {<class 'tuple'>}
type of f is {<class 'bool'>}

3 a) Explain the following arithmetic operators with examples:
1. Addition (`+`)
2. Subtraction (`-`)
3. Multiplication (``)
4. Division (`/`)
5. Floor Division (`//`)
6. Modulus (`%`)
7. Exponentiation (``)

In [6]:
#1.addition
a=10
b=50
result=a+b
print(result)

60

In [8]:
# 2.substraction
a=70
b=50
result=a-b
print(result)

20

In [10]:
# 3.multiplication
a=10
b=8
result=a*b
print(result)

80

In [14]:
# 4.division
a=7
b=7
result=a/b
print(result)

1.0

In [16]:
# 5.modulus
a=20
b=3
result=a%b
print(result)

2

In [18]:
# 6.exponentation
a=4
b=2
result=a**b
print(result)

16

In [19]:
# 7.floor division
a=15
b=4
result=a//b
print(result)

3

3 b)Write a Python script to calculate the area of a rectangle using variables `length` and `width` with
values 5 and 10, respectively. Use the multiplication operator.

In [36]:
l=5
w=10
area=l*w
print(area)

50

4 a)Comparision and logical operators
a) Explain the following comparison operators with examples:
1. Equal to (`==`)
2. Not equal to (`!=`)
3. Greater than (`>`)
4. Less than (`<`)
5. Greater than or equal to (`>=`)
6. Less than or equal to (`<=`)

In [21]:
#  1.equal To
a=7
b=7
a==7

True

In [22]:
#  2.not equal to
a=7
b=7
a!=7

False

In [23]:
#  3.greater than
a=6
b=3
a>b

True

In [24]:
#  4.lesser than
a=5
b=4
a<b

False

In [ ]:
#  5.greater than or equal
a=5
b=3
a>=b

True

In [25]:
#  6.less than or equal
a=10
b=40
a<=b

True

# 4 b)Using logical operators (`and`, `or`, `not`), write a Python script that checks if a number is positive and even

In [ ]:
num=int(input("enter a number"))
if num>0 and num%2==0:
    print("the number is positive and even")
else :
    print("the number is not positive and even")

enter a number43
the number is not positive and even

5 a)What is type casting? Explain the difference between implicit and explicit type casting with
examples.                                                                     
ex: a=10   b=5.5

 r=a+b                                  


Explicit: Manually we convert the data type of a variable                       
ex: a="1000"          
r=int(a)

5 b) Write a Python script that:
1. Converts a float to an integer.
2. Converts an integer to a string.
3. Converts a string to a float.Python script for

In [26]:
# 1.convert float to an int
x=88.88
y=int(x)
print(y)
type(y)

88

int

In [27]:
# 1.convert int to an str
x=3000
b=str(a)
print(b)
type(b)

10

str

In [28]:
# 1.convert str to an float
a="639.26"
b=float(a)
print(b)
type(b)

639.26

float

6) Practical Exercise: Mini Calculator

Write a Python script that asks the user to input two numbers and then:
1. Adds the two numbers and prints the result.
2. Subtracts the second number from the first and prints the result.
3. Multiplies the two numbers and prints the result.
4. Divides the first number by the second and prints the result (handle division by zero).
5. Converts the sum of the numbers to a string and prints the type of the result.

In [30]:
# 1.adding two numbers
x=45
y=10
result=x+y
print(result)

55

In [29]:
# 2.sub
x=45
y=10
result=x-y
print(result)

35

In [31]:
# 3.multiply two numbers
x=2
y=4
result=x*y
print(result)

8

In [32]:
# 4.division
x=8
y=2
result=x/y
print(result)

4.0

In [33]:
# 5.convert the sum of the numbers to a str and print the type of result
a=3000
b=4000
result=a+b
str(result)
type(str(result))

str